/* Custom styles for the booking page */
/* General styles */

    .notes-popover {
        max-width: 350px;
        /* Adjust max width */
        font-size: 0.9rem;
        /* Slightly smaller font */
    }

    .popover-body {
        white-space: pre-wrap;
        /* Preserve line breaks */
        max-height: 200px;
        /* Limit height and make scrollable if needed */
        overflow-y: auto;
    }

    /* Ensure table cells have consistent vertical alignment */
    .table td,
    .table th {
        vertical-align: middle;
    }


